fire
pyyaml
avakas
mcipc
ipython
ipdb
requests-toolbelt
Python-NBT

git+https://github.com/Jakub-Wilk/multicraft-api@master#egg=multicraft-api
git+https://github.com/mattrobenolt/jinja2-cli@master#egg=jinja2-cli
git+https://gitlab.com/routhio/minecraft/tools/packmaker.git@master#egg=packmaker
