# Configuration file

fluids {
    S:fluid.actuallyadditions.canolaoil.cardrank=
    S:fluid.actuallyadditions.canolaoil.grammar=
    S:fluid.actuallyadditions.canolaoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.canolaoil.instability.factor_flat=
    S:fluid.actuallyadditions.canolaoil.seabanned=
    S:fluid.actuallyadditions.crystaloil.cardrank=
    S:fluid.actuallyadditions.crystaloil.grammar=
    S:fluid.actuallyadditions.crystaloil.instability.factor_accessibility=
    S:fluid.actuallyadditions.crystaloil.instability.factor_flat=
    S:fluid.actuallyadditions.crystaloil.seabanned=
    S:fluid.actuallyadditions.empoweredoil.cardrank=
    S:fluid.actuallyadditions.empoweredoil.grammar=
    S:fluid.actuallyadditions.empoweredoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.empoweredoil.instability.factor_flat=
    S:fluid.actuallyadditions.empoweredoil.seabanned=
    S:fluid.actuallyadditions.refinedcanolaoil.cardrank=
    S:fluid.actuallyadditions.refinedcanolaoil.grammar=
    S:fluid.actuallyadditions.refinedcanolaoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.refinedcanolaoil.instability.factor_flat=
    S:fluid.actuallyadditions.refinedcanolaoil.seabanned=
    S:fluid.amber.cardrank=
    S:fluid.amber.grammar=
    S:fluid.amber.instability.factor_accessibility=
    S:fluid.amber.instability.factor_flat=
    S:fluid.amber.seabanned=
    S:fluid.biodiesel.cardrank=
    S:fluid.biodiesel.grammar=
    S:fluid.biodiesel.instability.factor_accessibility=
    S:fluid.biodiesel.instability.factor_flat=
    S:fluid.biodiesel.seabanned=
    S:fluid.biomass.cardrank=
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.seabanned=
    S:fluid.blaze_juice.cardrank=
    S:fluid.blaze_juice.grammar=
    S:fluid.blaze_juice.instability.factor_accessibility=
    S:fluid.blaze_juice.instability.factor_flat=
    S:fluid.blaze_juice.seabanned=
    S:fluid.concrete.cardrank=
    S:fluid.concrete.grammar=
    S:fluid.concrete.instability.factor_accessibility=
    S:fluid.concrete.instability.factor_flat=
    S:fluid.concrete.seabanned=
    S:fluid.constantan.cardrank=
    S:fluid.constantan.grammar=
    S:fluid.constantan.instability.factor_accessibility=
    S:fluid.constantan.instability.factor_flat=
    S:fluid.constantan.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.crystal.cardrank=
    S:fluid.crystal.grammar=
    S:fluid.crystal.instability.factor_accessibility=
    S:fluid.crystal.instability.factor_flat=
    S:fluid.crystal.seabanned=
    S:fluid.elementium.cardrank=
    S:fluid.elementium.grammar=
    S:fluid.elementium.instability.factor_accessibility=
    S:fluid.elementium.instability.factor_flat=
    S:fluid.elementium.seabanned=
    S:fluid.ender_sap.cardrank=
    S:fluid.ender_sap.grammar=
    S:fluid.ender_sap.instability.factor_accessibility=
    S:fluid.ender_sap.instability.factor_flat=
    S:fluid.ender_sap.seabanned=
    S:fluid.ethanol.cardrank=
    S:fluid.ethanol.grammar=
    S:fluid.ethanol.instability.factor_accessibility=
    S:fluid.ethanol.instability.factor_flat=
    S:fluid.ethanol.seabanned=
    S:fluid.fluids.integrateddynamics.liquidchorus.cardrank=
    S:fluid.fluids.integrateddynamics.liquidchorus.grammar=
    S:fluid.fluids.integrateddynamics.liquidchorus.instability.factor_accessibility=
    S:fluid.fluids.integrateddynamics.liquidchorus.instability.factor_flat=
    S:fluid.fluids.integrateddynamics.liquidchorus.seabanned=
    S:fluid.fluids.integrateddynamics.menrilresin.cardrank=
    S:fluid.fluids.integrateddynamics.menrilresin.grammar=
    S:fluid.fluids.integrateddynamics.menrilresin.instability.factor_accessibility=
    S:fluid.fluids.integrateddynamics.menrilresin.instability.factor_flat=
    S:fluid.fluids.integrateddynamics.menrilresin.seabanned=
    S:fluid.fuelium.cardrank=
    S:fluid.fuelium.grammar=
    S:fluid.fuelium.instability.factor_accessibility=
    S:fluid.fuelium.instability.factor_flat=
    S:fluid.fuelium.seabanned=
    S:fluid.liquidantimatter.cardrank=
    S:fluid.liquidantimatter.grammar=
    S:fluid.liquidantimatter.instability.factor_accessibility=
    S:fluid.liquidantimatter.instability.factor_flat=
    S:fluid.liquidantimatter.seabanned=
    S:fluid.liquidcoralium.cardrank=
    S:fluid.liquidcoralium.grammar=
    S:fluid.liquidcoralium.instability.factor_accessibility=
    S:fluid.liquidcoralium.instability.factor_flat=
    S:fluid.liquidcoralium.seabanned=
    S:fluid.manasteel.cardrank=
    S:fluid.manasteel.grammar=
    S:fluid.manasteel.instability.factor_accessibility=
    S:fluid.manasteel.instability.factor_flat=
    S:fluid.manasteel.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.plantoil.cardrank=
    S:fluid.plantoil.grammar=
    S:fluid.plantoil.instability.factor_accessibility=
    S:fluid.plantoil.instability.factor_flat=
    S:fluid.plantoil.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.purified_water.cardrank=
    S:fluid.purified_water.grammar=
    S:fluid.purified_water.instability.factor_accessibility=
    S:fluid.purified_water.instability.factor_flat=
    S:fluid.purified_water.seabanned=
    S:fluid.tconstruct.alubrass.cardrank=
    S:fluid.tconstruct.alubrass.grammar=
    S:fluid.tconstruct.alubrass.instability.factor_accessibility=
    S:fluid.tconstruct.alubrass.instability.factor_flat=
    S:fluid.tconstruct.alubrass.seabanned=
    S:fluid.tconstruct.aluminum.cardrank=
    S:fluid.tconstruct.aluminum.grammar=
    S:fluid.tconstruct.aluminum.instability.factor_accessibility=
    S:fluid.tconstruct.aluminum.instability.factor_flat=
    S:fluid.tconstruct.aluminum.seabanned=
    S:fluid.tconstruct.ardite.cardrank=
    S:fluid.tconstruct.ardite.grammar=
    S:fluid.tconstruct.ardite.instability.factor_accessibility=
    S:fluid.tconstruct.ardite.instability.factor_flat=
    S:fluid.tconstruct.ardite.seabanned=
    S:fluid.tconstruct.blood.cardrank=
    S:fluid.tconstruct.blood.grammar=
    S:fluid.tconstruct.blood.instability.factor_accessibility=
    S:fluid.tconstruct.blood.instability.factor_flat=
    S:fluid.tconstruct.blood.seabanned=
    S:fluid.tconstruct.blueslime.cardrank=
    S:fluid.tconstruct.blueslime.grammar=
    S:fluid.tconstruct.blueslime.instability.factor_accessibility=
    S:fluid.tconstruct.blueslime.instability.factor_flat=
    S:fluid.tconstruct.blueslime.seabanned=
    S:fluid.tconstruct.brass.cardrank=
    S:fluid.tconstruct.brass.grammar=
    S:fluid.tconstruct.brass.instability.factor_accessibility=
    S:fluid.tconstruct.brass.instability.factor_flat=
    S:fluid.tconstruct.brass.seabanned=
    S:fluid.tconstruct.bronze.cardrank=
    S:fluid.tconstruct.bronze.grammar=
    S:fluid.tconstruct.bronze.instability.factor_accessibility=
    S:fluid.tconstruct.bronze.instability.factor_flat=
    S:fluid.tconstruct.bronze.seabanned=
    S:fluid.tconstruct.clay.cardrank=
    S:fluid.tconstruct.clay.grammar=
    S:fluid.tconstruct.clay.instability.factor_accessibility=
    S:fluid.tconstruct.clay.instability.factor_flat=
    S:fluid.tconstruct.clay.seabanned=
    S:fluid.tconstruct.cobalt.cardrank=
    S:fluid.tconstruct.cobalt.grammar=
    S:fluid.tconstruct.cobalt.instability.factor_accessibility=
    S:fluid.tconstruct.cobalt.instability.factor_flat=
    S:fluid.tconstruct.cobalt.seabanned=
    S:fluid.tconstruct.copper.cardrank=
    S:fluid.tconstruct.copper.grammar=
    S:fluid.tconstruct.copper.instability.factor_accessibility=
    S:fluid.tconstruct.copper.instability.factor_flat=
    S:fluid.tconstruct.copper.seabanned=
    S:fluid.tconstruct.dirt.cardrank=
    S:fluid.tconstruct.dirt.grammar=
    S:fluid.tconstruct.dirt.instability.factor_accessibility=
    S:fluid.tconstruct.dirt.instability.factor_flat=
    S:fluid.tconstruct.dirt.seabanned=
    S:fluid.tconstruct.electrum.cardrank=
    S:fluid.tconstruct.electrum.grammar=
    S:fluid.tconstruct.electrum.instability.factor_accessibility=
    S:fluid.tconstruct.electrum.instability.factor_flat=
    S:fluid.tconstruct.electrum.seabanned=
    S:fluid.tconstruct.emerald.cardrank=
    S:fluid.tconstruct.emerald.grammar=
    S:fluid.tconstruct.emerald.instability.factor_accessibility=
    S:fluid.tconstruct.emerald.instability.factor_flat=
    S:fluid.tconstruct.emerald.seabanned=
    S:fluid.tconstruct.glass.cardrank=
    S:fluid.tconstruct.glass.grammar=
    S:fluid.tconstruct.glass.instability.factor_accessibility=
    S:fluid.tconstruct.glass.instability.factor_flat=
    S:fluid.tconstruct.glass.seabanned=
    S:fluid.tconstruct.gold.cardrank=
    S:fluid.tconstruct.gold.grammar=
    S:fluid.tconstruct.gold.instability.factor_accessibility=
    S:fluid.tconstruct.gold.instability.factor_flat=
    S:fluid.tconstruct.gold.seabanned=
    S:fluid.tconstruct.iron.cardrank=
    S:fluid.tconstruct.iron.grammar=
    S:fluid.tconstruct.iron.instability.factor_accessibility=
    S:fluid.tconstruct.iron.instability.factor_flat=
    S:fluid.tconstruct.iron.seabanned=
    S:fluid.tconstruct.knightslime.cardrank=
    S:fluid.tconstruct.knightslime.grammar=
    S:fluid.tconstruct.knightslime.instability.factor_accessibility=
    S:fluid.tconstruct.knightslime.instability.factor_flat=
    S:fluid.tconstruct.knightslime.seabanned=
    S:fluid.tconstruct.lead.cardrank=
    S:fluid.tconstruct.lead.grammar=
    S:fluid.tconstruct.lead.instability.factor_accessibility=
    S:fluid.tconstruct.lead.instability.factor_flat=
    S:fluid.tconstruct.lead.seabanned=
    S:fluid.tconstruct.manyullyn.cardrank=
    S:fluid.tconstruct.manyullyn.grammar=
    S:fluid.tconstruct.manyullyn.instability.factor_accessibility=
    S:fluid.tconstruct.manyullyn.instability.factor_flat=
    S:fluid.tconstruct.manyullyn.seabanned=
    S:fluid.tconstruct.nickel.cardrank=
    S:fluid.tconstruct.nickel.grammar=
    S:fluid.tconstruct.nickel.instability.factor_accessibility=
    S:fluid.tconstruct.nickel.instability.factor_flat=
    S:fluid.tconstruct.nickel.seabanned=
    S:fluid.tconstruct.obsidian.cardrank=
    S:fluid.tconstruct.obsidian.grammar=
    S:fluid.tconstruct.obsidian.instability.factor_accessibility=
    S:fluid.tconstruct.obsidian.instability.factor_flat=
    S:fluid.tconstruct.obsidian.seabanned=
    S:fluid.tconstruct.pigiron.cardrank=
    S:fluid.tconstruct.pigiron.grammar=
    S:fluid.tconstruct.pigiron.instability.factor_accessibility=
    S:fluid.tconstruct.pigiron.instability.factor_flat=
    S:fluid.tconstruct.pigiron.seabanned=
    S:fluid.tconstruct.purpleslime.cardrank=
    S:fluid.tconstruct.purpleslime.grammar=
    S:fluid.tconstruct.purpleslime.instability.factor_accessibility=
    S:fluid.tconstruct.purpleslime.instability.factor_flat=
    S:fluid.tconstruct.purpleslime.seabanned=
    S:fluid.tconstruct.silver.cardrank=
    S:fluid.tconstruct.silver.grammar=
    S:fluid.tconstruct.silver.instability.factor_accessibility=
    S:fluid.tconstruct.silver.instability.factor_flat=
    S:fluid.tconstruct.silver.seabanned=
    S:fluid.tconstruct.steel.cardrank=
    S:fluid.tconstruct.steel.grammar=
    S:fluid.tconstruct.steel.instability.factor_accessibility=
    S:fluid.tconstruct.steel.instability.factor_flat=
    S:fluid.tconstruct.steel.seabanned=
    S:fluid.tconstruct.stone.cardrank=
    S:fluid.tconstruct.stone.grammar=
    S:fluid.tconstruct.stone.instability.factor_accessibility=
    S:fluid.tconstruct.stone.instability.factor_flat=
    S:fluid.tconstruct.stone.seabanned=
    S:fluid.tconstruct.tin.cardrank=
    S:fluid.tconstruct.tin.grammar=
    S:fluid.tconstruct.tin.instability.factor_accessibility=
    S:fluid.tconstruct.tin.instability.factor_flat=
    S:fluid.tconstruct.tin.seabanned=
    S:fluid.tconstruct.zinc.cardrank=
    S:fluid.tconstruct.zinc.grammar=
    S:fluid.tconstruct.zinc.instability.factor_accessibility=
    S:fluid.tconstruct.zinc.instability.factor_flat=
    S:fluid.tconstruct.zinc.seabanned=
    S:fluid.terrasteel.cardrank=
    S:fluid.terrasteel.grammar=
    S:fluid.terrasteel.instability.factor_accessibility=
    S:fluid.terrasteel.instability.factor_flat=
    S:fluid.terrasteel.seabanned=
    S:fluid.uranium.cardrank=
    S:fluid.uranium.grammar=
    S:fluid.uranium.instability.factor_accessibility=
    S:fluid.uranium.instability.factor_flat=
    S:fluid.uranium.seabanned=
    S:fluid.xpjuice.cardrank=
    S:fluid.xpjuice.grammar=
    S:fluid.xpjuice.instability.factor_accessibility=
    S:fluid.xpjuice.instability.factor_flat=
    S:fluid.xpjuice.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


