---
repo_path: "/mnt/src"
artifact_path: "/mnt/artifacts"
user: "{{stickypiston_user}}"
server: "{{stickypiston_server}}"
host: "{{stickypiston_host}}"
ftp_password: "{{ftp_password}}"
api_key: "{{multicraft_api_key}}"
api_host: "{{multicraft_api_host}}"
rcon_port: "{{rcon_port}}"
rcon_key: "{{rcon_password}}"
curse_token: "{{curseforge_token}}"
curse_project: 395107
