# -*-yaml-*-
---
name:  ttmb
title: "Tribes That May Be"
version: "{{version}}"

authors:
  - otakup0pe

minecraft: 1.12.2
forge: 14.23.5.2854

mods:
  - "jei":
  - "journeymap":
  - "tinkers-construct":
  - "mantle":
  - "orelib":
  - "ctm":
      clientonly: true
  - "shadowfacts-forgelin":
  - "better-records":
  - "dynamic-surroundings":
  - "immersive-engineering":
  - "sound-reloader":
      clientonly: true
  - "tumbleweed":
  - "laggoggles":
  - "tickcentral":
  - "akashic-tome":
  - "better-questing":
  - "lore-expansion":
  - "reskillable":
  - "compatskills":
  - "extraskills":
  - "waystones":
  - "autoreglib":
  - "better-questing-standard-expansion":
  - "better-questing-quest-book":
  - "better-questing-npc-integration":
  - "the-one-probe":
  - "betteranimalsplus":
  - "biometweakercore":
  - "biometweaker":
  - "realistic-terrain-generation":
  - "mysticallib":
  - "patchouli":
  - "mystical-world":
  - "better-animal-models":
      clientonly: true
  - "placebo":
  - "plants":
  - "paintings":
  - "chunk-animator":
      clientonly: true
  - "traffic-control":
  - "tough-as-nails":
  - "sound-filters":
      clientonly: true
  - "coroutil":
  - "weather-storms-tornadoes":
  - "betterfps":
  - "phosphor-forge":
  - "foamfix-optimization-mod":
  - "no-recipe-book":
      clientonly: true
  - "just-enough-dimensions":
  - "mystcraft":
  - "baubles":
  - "crafttweaker":
  - "mtlib":
  - "modtweaker":
  - "wanionlib":
  - "unidict":
  - "ftb-backups":
  - "ftb-library":
  - "ftb-utilities":
  - "comforts":
  - "bookshelf":
  - "enchantment-descriptions":
      clientonly: true
  - "guide-api":
  - "cyclic":
  - "redstone-gauges-and-switches":
  - "viescraft-airships":
  - "iron-chests":
  - "cucumber":
  - "mystical-agriculture":
  - "natures-compass":
  - "chameleon":
  - "storage-drawers":
  - "engineers-decor":
  - "serene-seasons":
  - "mrcrayfish-furniture-mod":
  - "obfuscate":
  - "mrcrayfishs-vehicle-mod":
  - "mrcrayfishs-gun-mod":
  - "statues":
  - "tool-belt":
  - "blockcraftery":
  - "chisel":
  - "mcmultipart":
  - "chisels-bits":
  - "fairy-lights":
  - "macaws-bridges":
  - "librarianlib":
  - "hooked":
  - "sit":
  - "wall-jump":
  - "to-the-bat-poles":
  - "forgeendertech":
  - "custom-starter-gear":
  - "bibliocraft":
  - "ivtoolkit":
  - "in-control":
  - "recurrent-complex":
  - "pams-harvestcraft":
  - "cooking-for-blockheads":
  - "applecore":
  - "hungertweaker":
  - "actually-additions":
  - "spice-of-life-carrot-edition":
  - "malisiscore":
  - "malisisdoors":
  - "placeable-items":
  - "more-player-models":
  - "opencomputers":
  - "openscreens":
  - "inventory-tweaks":
  - "controlling":
      clientonly: true
  - "mouse-tweaks":
  - "quickteleports":
  - "quark":
  - "custom-main-menu":
      clientonly: true
  - "extra-utilities":
  - "resource-loader":
  - "better-loading-screen":
  - "geolosys":
  - "mekanism":
  - "mekanism-generators":
  - "base":
  - "contenttweaker":
  - "tinkers-tool-leveling":
  - "constructs-armory":
  - "simply-backpacks":
  - "toast-control":
  - "pams-brewcraft":
  - "creativecore":
  - "onlinepictureframe":
  - "architecturecraft-tridev":
  - "exchangers":
  - "gunpowderlib":
  - "botania":
     version: "Botania r1.10-363.jar"
  - "applied-energistics-2":
  - "custom-npcs":
  - "better-than-llamas":
      clientonly: true
  - "chunkpregenerator":
  - "better-builders-wands":
  - "appleskin":
  - "a-lib":
  - "alchemistry":
  - "randompatches":
  - "copy-paste":
  - "openmodslib":
  - "openblocks":
  - "animal-bikes":
  - "clumps":
  - "ai-improvements":
  - "fantastic-lib":
  - "controlled-burn":
  - "cosmetic-armor-reworked":
  - "gotta-go-fast":
  - "bountifulbaubles":
  - "potion-core":
  - "cyclops-core":
  - "common-capabilities":
  - "integrated-dynamics":
  - "integrated-tunnels":
  - "integrated-rest":
  - "p455w0rds-library":
  - "ae2wtlib":
  - "wireless-crafting-terminal":
  - "bq-multiblock-structure-integration":
  - "abyssalcraft":
  - "just-enough-resources-jer":
      clientonly: true
  - "codechicken-lib-1-8":
  - "forge-multipart-cbe":
  - "mrtjpcore":
  - "project-red-base":
  - "project-red-integration":
  - "project-red-lighting":
  - "project-red-compat":
  - "corpse-complex":
  - "world-primer":
  - "gravestone-mod-graves":
  - "athenaeum":
  - "dropt":
  - "tinkers-jei":
  - "crafttweaker-utils":
  - "manatweaks":
# these would be rad a f but seems crashy. maybe for later.
#  - "albedo":
#  - "albedo-torches":
#  - "weissalbedo":
# it can be handly to disably instantunify when testing ore related things
  - "instantunify":
{% if dev_mode_tho|default(True) %}
  - "tellme":
  - "discordintegration":
      serveronly: true
{% endif %}
# https://github.com/MrCrayfish/Controllable/issues/93
#  - "controllable":
#      clientonly: true
  - "localized-chat":
files:
  - location: "src/"
