name = "Tribes That May Be"
author = "Jonathan Freedman"
version = "{{version}}"
pack-format = "packwiz:1.1.0"

[index]
file = "index.toml"
hash-format = "sha256"
hash = "a0bff99b058626aba92257362295e4905d5b9929d306acbeb4b3baa332871b47"

[versions]
forge = "14.23.5.2860"
minecraft = "1.12.2"
